.cv_preview {
  display: flex;
  justify-content: flex-end;
}

.cv_preview > a {
  background-color: goldenrod;
  color: whitesmoke;
  padding: 3px 5px;
  font-family: "Varela Round", sans-serif;
}

.cv_preview > a:hover {
  background-color: black;
  color: goldenrod;
  padding: 3px 5px;
  font-family: "Varela Round", sans-serif;
  box-shadow: 0 0 10px 0.5px goldenrod;
}
