.skill_detail {
  margin-top: 5px;
  position: relative;
  font-family: "Varela Round", sans-serif;
  color: white;
}

.skill_detail > h1 {
  text-decoration: underline 3px goldenrod;
}

.technical_skill > h4,
.additional_skill > h4 {
  text-decoration: underline 2px goldenrod;
}

ul > li {
  list-style: none;
  margin-top: 10px;
}

ul.skill_point > li::before {
  content: "\2713";
  color: goldenrod;
  display: inline-block;
  width: 1.2rem;
  margin-left: -1.2rem;
}

.progress {
  height: 1rem;
}
.percent {
  font-size: 0.6rem;
  padding: 0;
  text-align: center;
  color: white;
}
.skill_icons>i{
  font-size: 30px;
}

.apps_skill > h4{
  text-align: justify;
  text-decoration: underline 2px goldenrod;
}